In [83]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [84]:
x = pd.Series([1,2,3,4,5]) #series is an array like object
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [85]:
x+100

0    101
1    102
2    103
3    104
4    105
dtype: int64

In [86]:
(x ** 2) + 100

0    101
1    104
2    109
3    116
4    125
dtype: int64

In [87]:
x > 2

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [88]:
larger_than_2 = x > 2
larger_than_2

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [89]:
larger_than_2.any()

True

In [90]:
larger_than_2.all()

False

# apply

In [91]:
def f(x):
    if x % 2 == 0:
        return x * 2
    else:
        return x * 3

x.apply(f)

0     3
1     4
2     9
3     8
4    15
dtype: int64

In [92]:
#changing datatype
x.astype(np.float64)

0    1
1    2
2    3
3    4
4    5
dtype: float64

In [93]:
#copy

#y = x    (it's like a reference, change in y will change x)

#y = x.copy() ( opposite)

# DataFrame

In [94]:
data = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(data, columns=["x"])
df

   x
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [95]:
df["x"]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: x, dtype: int64

In [96]:

df3 = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
df3

          a         b         c         d         e
0 -0.373003  0.907253 -0.363278 -0.202965 -1.049477
1  1.789840  0.544357 -1.105042  0.019446  1.461854
2 -1.054600 -1.428507 -1.407928 -0.218771 -0.344856
3 -0.654378  0.325550 -0.138032 -1.750648 -1.522744
4  0.158271 -0.349391  0.859967  0.823761 -0.279442
5 -0.659613  0.566485  0.612524 -0.399943 -1.083283
6 -0.276813  0.490450  1.285501 -0.637287  1.694599
7  0.149329  2.125065  0.168415  0.220671 -1.631736
8  1.320608  0.290691  1.274176  0.081078  1.520329
9  0.825941  1.499481  1.450910  0.147115  0.073282

In [97]:
df3[["b","c"]]

          b         c
0  0.907253 -0.363278
1  0.544357 -1.105042
2 -1.428507 -1.407928
3  0.325550 -0.138032
4 -0.349391  0.859967
5  0.566485  0.612524
6  0.490450  1.285501
7  2.125065  0.168415
8  0.290691  1.274176
9  1.499481  1.450910

In [98]:
df["x"][0]

1

In [109]:
#adding extra column
df["x_plus_2"] = df["x"] + 2
df

   x  x_factorial  x_plus_2
0  1            1         3
1  2            2         4
2  3            6         5
3  4           24         6
4  5          120         7
5  6          720         8
6  7         5040         9
7  8        40320        10
8  9       362880        11

In [110]:
df["x_factorial"] = df["x"].apply(np.math.factorial)
df

   x  x_factorial  x_plus_2
0  1            1         3
1  2            2         4
2  3            6         5
3  4           24         6
4  5          120         7
5  6          720         8
6  7         5040         9
7  8        40320        10
8  9       362880        11

In [111]:
df = df.drop("x",1)
df

   x_factorial  x_plus_2
0            1         3
1            2         4
2            6         5
3           24         6
4          120         7
5          720         8
6         5040         9
7        40320        10
8       362880        11

In [113]:
pd.options.display.max_columns= 4
pd.options.display.max_rows= 5
df

    x_factorial  x_plus_2
0             1         3
1             2         4
..          ...       ...
7         40320        10
8        362880        11

[9 rows x 2 columns]

# Filtering

In [118]:
df[df["x_plus_2"] == 10]

   x_factorial  x_plus_2
7        40320        10

In [120]:
df[(df.x_plus_2 == 6) & (df.x_factorial == 24)]

   x_factorial  x_plus_2
3           24         6

# CSV

In [128]:
stocks_data = pd.read_csv("http://www.google.com/finance/historical?q=TADAWUL:TASI&output=csv")

In [129]:
stocks_data.head()    #stocks_data.tail()

       ﻿Date     Open    ...        Close     Volume
0  23-Jun-16  6532.42    ...      6550.97  199178774
1  22-Jun-16  6553.01    ...      6532.42  158116439
2  21-Jun-16  6558.92    ...      6553.01  146333736
3  20-Jun-16  6542.40    ...      6558.92  150238728
4  19-Jun-16  6542.64    ...      6542.40  171249760

[5 rows x 6 columns]

In [130]:
stocks_data["change_amount"] = stocks_data["Close"] - stocks_data["Open"]

In [131]:
stocks_data

         ﻿Date     Open      ...           Volume  change_amount
0    23-Jun-16  6532.42      ...        199178774          18.55
1    22-Jun-16  6553.01      ...        158116439         -20.59
..         ...      ...      ...              ...            ...
249  29-Jun-15  9208.70      ...        174088742        -148.76
250  28-Jun-15  9367.29      ...        188911305        -158.59

[251 rows x 7 columns]

In [132]:
stocks_data.to_csv("xyz.csv")