# Data Structure

# List

In [1]:
list1 = [12,34,45,56]
#mixed datatypes
list2 = [12, "string", True, 124.45, "as"]
print(list2)

[12, 'string', True, 124.45, 'as']

In [2]:
#list of list
list3 = [[12,34,45],[23,65,43],[23,54,67]]
print(list3)

[[12, 34, 45], [23, 65, 43], [23, 54, 67]]

In [5]:
#indexing
print(list1[0])
print(list2[1])
print(list3[2])
print(list3[1][2])

12
string
[23, 54, 67]
43

In [121]:
#slicing
list4 = [1,2,3,4,5,6,7]
print(list4[1:6])
print(list4[:])   #all
print(list4[:4])

[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4]

In [123]:
list4.index(3)

2

In [74]:
#find length of a list
len(list1)

4

In [75]:
#we can use len function for string as well
str1 = "My name is savan"
len(str1)

16

In [79]:
min(list4)

1

In [76]:
max(list4)

7

In [110]:
numbers = [12,43,12,89,34,0,23]
numbers.sort()
print(numbers)

[0, 12, 12, 23, 34, 43, 89]

In [111]:
#appends
numbers.append(33)
print(numbers)

[0, 12, 12, 23, 34, 43, 89, 33]

In [112]:
#join
numbers2 = [12,32,54]
numbers.extend(numbers2)
print(numbers)


#another way
#print(numbers + numbers2)

[0, 12, 12, 23, 34, 43, 89, 33, 12, 32, 54]

In [113]:
numbers.remove(23)

In [114]:
print(numbers)

[0, 12, 12, 34, 43, 89, 33, 12, 32, 54]

In [115]:
del numbers[5]

In [116]:
print(numbers)

[0, 12, 12, 34, 43, 33, 12, 32, 54]

In [117]:
numbers.pop()
print(numbers)

[0, 12, 12, 34, 43, 33, 12, 32]

In [118]:
numbers.pop(0)
print(numbers)

[12, 12, 34, 43, 33, 12, 32]

In [119]:
#sort in descending order
numbers.sort(reverse=True)   #or you can use directly reverse method
print(numbers)

[43, 34, 33, 32, 12, 12, 12]

# Dictionary

Python dictionaries are widely used data structure. If you are familiar with Java then Python dictionaries are like Map.

In [13]:
dic1 = {"name":"Savan",
        "age":19,
        "city":"Ahmedabad"}
print(dic1["name"])
print(dic1["age"])
print(dic1["city"])

Savan
19
Ahmedabad

In [14]:
#another ways to create a dictionary
dic2 = {} #one way
dic3 = dict() #second way

In [12]:
#now you can add elements in dic2 and dic3 later
dic2["name"] = "Kashyap"
dic2["city"] = "Ahmedabad"
dic3["age"] = 19

what is key and value?<br>
In above examples, our elements were<br>
<pre>
    "name" : "Savan",
    "age" : 19,
    "city" : "Ahmedabad"
</pre>
Basically, dictionary gives us a way to assign name to diff variables.<br>
Here, our <b>keys </b> are <b> name, age, city</b> and our <b>values</b> are <b> Savan,19,Ahmedabad</b>

In [19]:
#let's print only keys
for key in dic1.keys():
    print(key)

name
age
city

In [18]:
#print only values
for value in dic1.values():
    print(value)

Savan
19
Ahmedabad

In [17]:
#print both keys and values
for key, value in dic1.items():
    print("Key is : %s and Value is : %s" % (key,value))

Key is : name and Value is : Savan
Key is : age and Value is : 19
Key is : city and Value is : Ahmedabad

In [21]:
dic1.pop("city")

'Ahmedabad'

In [22]:
print(dic1)

{'name': 'Savan', 'age': 19}

<b> zip() </b> function is used to combine two lists.
<br>
<b> Example </b><br>
<pre> 
    list1 = ["name","age","city"]
    list2 = ["XYZ",19,"New York"]
    
    zip(list1, list2)  returns
        [('name','XYZ'),('age',19),('city','New York')] #list of tuples, what is tuple?

In [30]:
nums = ["name","age","city"]
vals = ["Sameer",19,"Dungarpur"]
x = zip(nums,vals)
for i in zip(nums,vals):
    print(i) #returns tuple, we will see what tuple is

('name', 'Sameer')
('age', 19)
('city', 'Dungarpur')

In [34]:
#we can convert this into dictionary using dict()
x = dict(zip(nums,vals))
print(x)

{'name': 'Sameer', 'age': 19, 'city': 'Dungarpur'}

# Tuple

Python tuples are just like a list. But they are immutable that means once we define it we can't alter the elements of the tuple.

In [35]:
tuple1 = (1,2,4)

In [36]:
tuple1[0]

1

In [37]:
#but, I cant change it
tuple1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [38]:
tuple2 = ("John","Mike","Geoff")
for i in tuple2:
    print(i)

John
Mike
Geoff

In [41]:
#we can perform almost any functions which we can use in list
del tuple2[1]

TypeError: 'tuple' object doesn't support item deletion

In [42]:
#we cant delete a particular part of the tuple, we can delete the whole tuple
del tuple2

In [43]:
print(tuple2)

NameError: name 'tuple2' is not defined